{% if section.settings.bg_color != blank %}
<style>
  footer.site-footer {
    background-color: {{ section.settings.bg_color }};
  }
</style>
{% endif %}

<footer class="site-footer small--text-center" role="contentinfo">
  <div class="wrapper">
    <div class="grid-uniform grid-uniform-new">
      <div class="grid__item two-quarters footer-top-new">
        {% if section.settings.logo != blank %}
          <a href="/" class="site-footer__logo-link">
            <img src="{{ section.settings.logo | img_url: image_size }}"
                 class="lazyload"
                 srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                 alt="{{ section.settings.logo.alt | default: shop.name }}" />
          </a>
        {% endif %}

        <div class="grid-uniform footer-menu-group">
          {% if linklists[section.settings.helps_link_list].links.size > 0 %}
            <div class="grid__item one-third">
              <div class="footer_menu_title">
                <h5>Help</h5>
              </div>
              <div class="footer_menu_body">
                <ul class="no-bullets site-footer__linklist">
                  {% for link in linklists[section.settings.helps_link_list].links %}
                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}

          {% if linklists[section.settings.pages_link_list].links.size > 0 %}
            <div class="grid__item one-third">
              <div class="footer_menu_title">
                <h5>Company</h5>
              </div>
              <div class="footer_menu_body">
                <ul class="no-bullets site-footer__linklist">
                  {% for link in linklists[section.settings.pages_link_list].links %}
                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}
          
          {% if linklists[section.settings.shop_link_list].links.size > 0 %}
            <div class="grid__item one-third">
              <div class="footer_menu_title">
                <h5>Shop</h5>
              </div>
              <div class="footer_menu_body">
                <ul class="no-bullets site-footer__linklist">
                  {% for link in linklists[section.settings.shop_link_list].links %}
                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}

          {% comment %}
          
          <div class="grid__item one-third">
            <div class="footer_menu_title">
              <h5>My Account</h5>
            </div>
            <div class="footer_menu_body">
              <ul class="no-bullets site-footer__linklist">
                  <li>{{ 'Login' | customer_login_link }}</li>
                  <li>{{ 'Register' | customer_register_link }}</li>
              </ul>
            </div>
          </div>
          
          {% endcomment %}
          
        </div>

        {%- if section.settings.show_payment_icons -%}
          {%- unless shop.enabled_payment_types == empty -%}
            <span class="visually-hidden">{{ 'general.payment.method' | t }}</span>
            <ul class="inline-list payment-icons">
              {%- for type in shop.enabled_payment_types -%}
                <li>
                  {{ type | payment_type_svg_tag: class: 'icon' }}
                </li>
              {%- endfor -%}
            </ul>
          {%- endunless -%}
        {%- endif -%}
      </div>

      <div class="grid__item two-quarters right-wrapper footer-bottom-new">
        <div class="footer_right_in_new">
          {% if section.settings.second_logo != blank %}
            <div class="second-logo-wrapper">
              <a href="https://www.facebook.com/groups/205122780829614" _target="start">
                <img src="{{ section.settings.second_logo | img_url: image_size }}"
                   class="lazyload"
                   srcset="{{ section.settings.second_logo | img_url: image_size }} 1x, {{ section.settings.second_logo | img_url: image_size, scale: 2 }} 2x"
                   alt="{{ section.settings.second_logo.alt | default: shop.name }}" />
              </a>
            </div>
          {% endif %}

          {% comment %}

          <div class="visit-blog">
            <span>Join the <a href="https://www.facebook.com/groups/205122780829614">My Knife Club Community</a></span>
          </div>

          {% endcomment %}

          <div class="footer-newsletter">
            {% form 'customer' %}
              {{ form.errors | default_errors }}
              {% if form.posted_successfully? %}
                <div class="newsletter--form">
                  <div class="note form-success">{{ 'general.newsletter_form.newsletter_confirmation' | t }}</div>
                </div>
              {% else %}
                <div class="smart_new">Our newsletter is sharp too. Try it!</div>
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="newsletter--form">
                  <div class="input-group newsletter_back_new">
                    <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="name@email.com" name="contact[email]" id="Email" class="input-group-field newsletter__input" autocorrect="off" autocapitalize="off">
                    <span class="input-group-btn">
                      <button type="submit" class="btn newsletter__submit">
                        SUBSCRIBE
                      </button>
                    </span>
                  </div>
                </div>
              {% endif %}
            {% endform %}
          </div>
          <div class="footer_social_links">
              <ul class="no-bullets social-icons">
                {% if settings.social_facebook_link != blank %}
                  <li>
                    <a href="{{ settings.social_facebook_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}" target="_blank">
                      <span class="icon icon-facebook" aria-hidden="true"></span>
                    </a>
                  </li>
                {% endif %}
                {% if settings.social_twitter_link != blank %}
                  <li>
                    <a href="{{ settings.social_twitter_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}" target="_blank">
                      <span class="icon icon-twitter" aria-hidden="true"></span>
                    </a>
                  </li>
                {% endif %}
                {% if settings.social_pinterest_link != blank %}
                  <li>
                    <a href="{{ settings.social_pinterest_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}" target="_blank">
                      <span class="icon icon-pinterest" aria-hidden="true"></span>
                    </a>
                  </li>
                {% endif %}
                {% if settings.social_instagram_link != blank %}
                  <li>
                    <a href="{{ settings.social_instagram_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}" target="_blank">
                      <span class="icon icon-instagram" aria-hidden="true"></span>
                    </a>
                  </li>
                {% endif %}
                {% if settings.social_snapchat_link != blank %}
                  <li>
                    <a href="{{ settings.social_snapchat_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}" target="_blank">
                      <span class="icon icon-snapchat" aria-hidden="true"></span>
                    </a>
                  </li>
                {% endif %}
                {% if settings.social_google_plus_link != blank %}
                  <li>
                    <a href="{{ settings.social_google_plus_link | escape }}" rel="publisher" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Google Plus' }}" target="_blank">
                      <span class="icon icon-google_plus" aria-hidden="true"></span>
                    </a>
                  </li>
                {% endif %}
                {% if settings.social_tumblr_link != blank %}
                  <li>
                    <a href="{{ settings.social_tumblr_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}" target="_blank">
                      <span class="icon icon-tumblr" aria-hidden="true"></span>
                    </a>
                  </li>
                {% endif %}
                {% if settings.social_youtube_link != blank %}
                  <li>
                    <a href="{{ settings.social_youtube_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}" target="_blank">
                      <span class="icon icon-youtube" aria-hidden="true"></span>
                    </a>
                  </li>
                {% endif %}
                {% if settings.social_vimeo_link != blank %}
                  <li>
                    <a href="{{ settings.social_vimeo_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}" target="_blank">
                      <span class="icon icon-vimeo" aria-hidden="true"></span>
                    </a>
                  </li>
                {% endif %}
                {% if settings.social_fancy_link != blank %}
                  <li>
                    <a href="{{ settings.social_fancy_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Fancy' }}" target="_blank">
                      <span class="icon icon-fancy" aria-hidden="true"></span>
                    </a>
                  </li>
                {% endif %}
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="copyright__content-information">
      <p>&copy; {{ shop.name | link_to: shop.url }} {{ 'now' | date: '%Y' }}  <a href="https://www.tumblerware.com/policies/privacy-policy">Privacy</a>   <a href="https://www.tumblerware.com/policies/terms-of-service">Terms of Service</a></p>
    </div>

    {% if linklists[section.settings.bottom_leagal_list].links.size > 0 %}
      <ul class="no-bullets site-footer__linklist">
        {% for link in linklists[section.settings.bottom_leagal_list].links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
    
    {%- if section.settings.show_payment_icons -%}
    {%- unless shop.enabled_payment_types == empty -%}
    <ul class="inline-list payment-icons">
      {%- for type in shop.enabled_payment_types -%}
      <li>
        {{ type | payment_type_svg_tag: class: 'icon' }}
      </li>
      {%- endfor -%}
    </ul>
    {%- endunless -%}
    {%- endif -%}

  </div>
  
  {% comment %}
  <div class="copyright mobile-only">
    {% if linklists[section.settings.bottom_leagal_list].links.size > 0 %}
      <ul class="no-bullets site-footer__linklist">
        {% for link in linklists[section.settings.bottom_leagal_list].links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
    
    {%- if section.settings.show_payment_icons -%}
    {%- unless shop.enabled_payment_types == empty -%}
    <ul class="inline-list payment-icons">
      {%- for type in shop.enabled_payment_types -%}
      <li>
        {{ type | payment_type_svg_tag: class: 'icon' }}
      </li>
      {%- endfor -%}
    </ul>
    {%- endunless -%}
    {%- endif -%}
    
    <div class="copyright__content-information">
      <p>&copy; {{ shop.name | link_to: shop.url }} {{ 'now' | date: '%Y' }}. Patent pending. Sold in North America only.</p>
    </div>
  </div>
  {% endcomment %}
</footer>

{% schema %}
{
  "name": {
    "da": "Sidefod",
    "de": "Fußzeile",
    "en": "Footer",
    "es": "Pie de página",
    "fi": "Alatunniste",
    "fr": "Pied de page",
    "hi": "फुटर",
    "it": "Footer",
    "ja": "フッター",
    "ko": "바닥글",
    "ms": "Pengaki",
    "nb": "Footer",
    "nl": "Voettekst",
    "pt-BR": "Rodapé",
    "pt-PT": "Rodapé",
    "sv": "Sidfot",
    "th": "ส่วนท้าย",
    "zh-CN": "页脚",
    "zh-TW": "頁尾"
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": {
        "da": "Logo",
        "de": "Logo",
        "en": "Logo",
        "es": "Logo",
        "fi": "Logo",
        "fr": "Logo",
        "hi": "लोगो",
        "it": "Logo",
        "ja": "ロゴ",
        "ko": "로고",
        "ms": "Logo",
        "nb": "Logo",
        "nl": "Logo",
        "pt-BR": "Logotipo",
        "pt-PT": "Logótipo",
        "sv": "Logotyp",
        "th": "โลโก้",
        "zh-CN": "logo",
        "zh-TW": "商標"
      }
    },
	{
		"type": "image_picker",
		"id": "second_logo",
		"label": "Second Logo"
	},
    {
      "type": "link_list",
      "id": "helps_link_list",
      "label": "Footer Helps Menu",
      "default": "footer"
    },
    {
      "type": "link_list",
      "id": "pages_link_list",
      "label": "Footer Company Menu",
      "default": "footer"
    },
	{
      "type": "link_list",
      "id": "shop_link_list",
      "label": "Footer Shop Menu",
      "default": "footer"
    },
	{
      "type": "link_list",
      "id": "bottom_leagal_list",
      "label": "Footer leagal menu",
      "default": "footer"
    },
    {
      "type": "link_list",
      "id": "bottom_link_list",
      "label": "Footer bottom menu",
      "default": "footer"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": {
        "da": "Vis betalingsikoner",
        "de": "Zahlungssymbole anzeigen",
        "en": "Show payment icons",
        "es": "Mostrar iconos de pago",
        "fi": "Näytä maksukuvakkeet",
        "fr": "Afficher les icônes de paiement",
        "hi": "भुगतान आइकन दिखाएं",
        "it": "Mostra le icone di pagamento",
        "ja": "支払いアイコンを表示する",
        "ko": "결제 아이콘 표시",
        "ms": "Tunjukkan ikon pembayaran",
        "nb": "Vis betalingsikoner",
        "nl": "Betalingspictogrammen weergeven",
        "pt-BR": "Exibir ícones de pagamento",
        "pt-PT": "Mostrar ícones de pagamento",
        "sv": "Visa betalningsikoner",
        "th": "แสดงไอคอนการชำระเงิน",
        "zh-CN": "显示付款图标",
        "zh-TW": "顯示付款圖示"
      },
      "default": true
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color"
    }
  ]
}
{% endschema %}
