<style>
  {% if section.settings.image_position == "center" %}
    .product_image_with_text#shopify-section-{{ section.id }} .product_image_with_text_new {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    .product_image_with_text#shopify-section-{{ section.id }} .index_product_left_new {
      width: 100%;
      padding-right: 0;
    }
    .product_image_with_text#shopify-section-{{ section.id }} .index_product_right_new {
      width: 100%;
      padding: 35px 40px;
      text-align: center;
      max-width: 768px;
    }
    .product_image_with_text#shopify-section-{{ section.id }} {
      padding: 70px 0;
    }
  {% endif %}

  {% if section.settings.bg_color != blank %}
  .product_image_with_text#shopify-section-{{ section.id }} {
    background-color: {{ section.settings.bg_color }};
  }
  {% endif %}
  {% if section.settings.heading_color != blank %}
  .product_image_with_text#shopify-section-{{ section.id }} .product_text2_new, .product_image_with_text#shopify-section-{{ section.id }} .product_text1_new {
    color: {{ section.settings.heading_color }};
  }
  {% endif %}
  {% if section.settings.txt_color != blank %}
  .product_image_with_text#shopify-section-{{ section.id }} .product_desc_new {
    color: {{ section.settings.txt_color }};
  }
  {% endif %}
</style>
<div class="wrapper" id="{{ section.settings.image_position }}">
  <div class="page-width feature-row">
    <div class="product_image_with_text_new">
      {% if section.settings.image != blank %}
        <div class="index_product_left_new">
          <img src="{{ section.settings.image | img_url: 'master' }}" class="desktop-image" alt="{{ section.settings.image.alt }}"/>
          <img src="{{ section.settings.mobile_image | img_url: 'master' }}" class="mobile-image" alt="{{ section.settings.mobile_image.alt }}"/>
        </div>
      {% endif %}
      {% if section.settings.text1 != blank or section.settings.text2 != blank or section.settings.text3 != blank or section.settings.btntext1 != blank or section.settings.btntext2 != blank %}
        <div class="index_product_right_new">
          {% if section.settings.text1 != blank %}
            <div class="product_text1_new">
              {{ section.settings.text1 }}
            </div>
          {% endif %}
          {% if section.settings.text2 != blank %}
            <div class="product_text2_new">
              {{ section.settings.text2 }}
            </div>
          {% endif %}
          {% if section.settings.text3 != blank %}
            <div class="product_desc_new">
              {{ section.settings.text3 }}
            </div>
          {% endif %}
          {% if section.settings.btntext1 != blank %}
            <div class="product_shop_new">
              <a class="btn" href="{{ section.settings.btnlink1 }}">
                {{ section.settings.btntext1 }}
              </a>
            </div>
          {% endif %}
          {% if section.settings.btntext2 != blank %}
            <div class="product_link_new">
              <a href="{{ section.settings.btnlink2 }}">
                {{ section.settings.btntext2 }}
              </a>
            </div>
          {% endif %}
        </div>
      {% endif %}
    </div>  
  </div>
</div>


{% schema %}
  {
    "name": "Product Image With Text",
	  "class": "product_image_with_text",
    "settings": [
    {
      "type": "select",
      "id": "image_position",
      "label": "Image position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "left"
    },
	  {
        "type": "image_picker",
        "id": "image",
        "label": "Add Left Image"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Add Left Image for Mobile"
      },
	  {
        "type": "text",
        "id": "text1",
        "label": "Add Main Heading",
        "default": "Bundle & Save"
      },
	  {
        "type": "text",
        "id": "text2",
        "label": "Add Heading",
        "default": "Transform your flow<br>with our Period<br>Starter Kit"
      },
	  {
        "type": "richtext",
        "id": "text3",
        "label": "Add Information",
        "default": "<p>Everything you need for a healthier period with comfy products you can wash and wear for years.</p>"
      },
	  {
        "type": "text",
        "id": "btntext1",
        "label": "Add Button Label",
        "default": "<span>SHOP</span>|<span>$29</span>"
      },
	  {
        "type": "url",
        "id": "btnlink1",
        "label": "Add Button Link",
        "default": "/"
      },
	  {
        "type": "text",
        "id": "btntext2",
        "label": "Add Text Label",
        "default": "SHOP ALL PERIOD  KITS"
      },
	  {
        "type": "url",
        "id": "btnlink2",
        "label": "Add Text Link",
        "default": "/"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background color"
      },
      {
        "type": "color",
        "id": "heading_color",
        "label": "Header color"
      },
      {
        "type": "color",
        "id": "txt_color",
        "label": "Text color"
      }
	],
	"presets": [
      {
        "name": "Product Image With Text",
        "category": "Image"
      }
    ]
  }
{% endschema %}