<style>
    .index-text_with_image_columns-section {
        margin: 0 !important;
        background-color: {{ section.settings.bg_color }};
        padding: 50px 0 20px;
        text-align: left;
    }
    .index-text_with_image_columns-section .grid__item {
        padding-bottom: 30px;
    }
    .index-text_with_image_columns-section h2, .index-text_with_image_columns-section p, .index-text_with_image_columns-section a {
        color: {{ section.settings.txt_color }};
    }
    .index-text_with_image_columns-section h2 {
        margin-bottom: 5px;
    }
    .index-text_with_image_columns-section p {
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
    }
    .index-text_with_image_columns-section .subheading {
        color: {{ section.settings.txt_color }};
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
    }
    .index-text_with_image_columns-section .btn_secondary {
        background: transparent;
        border-color: {{ section.settings.txt_color }};
        color: {{ section.settings.txt_color }};
    }
    .index-text_with_image_columns-section .section-body img {
        width: 100%;
    }
    .index-text_with_image_columns-section .section-header {
        text-align: left;
        margin-top: 3px;
    }
    .index-text_with_image_columns-section .btn_secondary:hover{
        background: transparent;
        border-color:#676767;
        color:#676767;
    }
    @media screen and (min-width: 768px) {
        .index-text_with_image_columns-section .section-header {
            margin-top: 10px;
        }
    }
</style>

<div class="text_with_image_columns-wrapper">
    <div class="wrapper">
        <div class="page-width">
            <div class="grid-uniform">
                {% for block in section.blocks %}
                <div class="grid__item small--one-whole medium--one-half large--one-half">
                    {% unless block.settings.image == blank %}
                    <div class="section-body">
                        {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                        <a href="{{ block.settings.button_link }}">
                            <img class="lazyload"
                                src="{{ block.settings.image | img_url: '100x' }}"
                                data-src="{{ img_url }}"
                                data-widths="[120, 220, 320, 420, 520, 620, 720, 820]"
                                data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                                data-sizes="auto"
                                data-parent-fit="cover"
                                alt="{{ block.settings.image.alt | escape }}"
                            />
                        </a>
                    </div>
                    {% endunless %}

                    {% unless block.settings.heading == blank and block.settings.sub_heading == blank %}
                    <div class="section-header">
                        <h2 class="product_text1_new">{{ block.settings.heading }}</h2>
                        <div class="subheading">{{ block.settings.sub_heading }}</div>
                    </div>
                    {% endunless %}
                
                    {% unless block.settings.button_link == blank and block.settings.button_text == blank %}
                    <div class="section-footer">
                        <a href="{{ block.settings.button_link }}" class="btn btn_secondary">{{ block.settings.button_text }}</a>
                    </div>
                    {% endunless %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% schema %}
{
"name": "Text with image columns",
"class": "index-text_with_image_columns-section",
"max_blocks": 10,
"settings": [
    {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
    },
    {
        "type": "color",
        "id": "txt_color",
        "label": "Text Color"
    }
],
"blocks": [
    {
        "type": "Image",
        "name": "Image with text & button",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "text",
                "id": "heading",
                "label": "Heading",
                "default": "Our Story"
            },
            {
                "type": "richtext",
                "id": "sub_heading",
                "label": "Subheading",
                "default": "<p>JUNE is inspired by the belief that quality menstrual care isn't a luxury, it's an essential: We deliver reusable menstrual cups, period undies</p>"
            },
            {
                "type": "url",
                "id": "button_link",
                "label": "Button link"
            },
            {
                "type": "text",
                "id": "button_text",
                "label": "Button text",
                "default": "Make the Switch"
            }
        ]
    }
],
"presets": [
    {
        "name": "Text with image columns",
        "category": "Text"
    }
]
}
{% endschema %}
  